{% extends "layout.html" %}
{% block title %}Scan File{% endblock %}
{% block content %}



<div class="container ">
    
       

	    <p><font color="red">Final Year Project</font></p>
        
	    <p><b><font color="green">Team Members</font></b></p> 
	    <p><font color="blue">1 : Anand Ingle</font></p> 
	    <p><font color="blue">2 : Akshay Chacharkar</font></p> 
	    <p><font color="blue">3 : Vishal Potghante</font></p> 
	    <p><font color="blue">4 : Hitesh Tapadia</p> 

	    
	 
    
</div>

{% endblock %}

{% block footer %}

{% endblock %}


